<div
    id="follow-button"
    hx-post="{% url 'api-user-toggle-follow' profile_user.pk %}" {# GARANTIR QUE A URL ESTÁ CORRETA, ASSUMINDO QUE profile_user É O USUÁRIO DO PERFIL #}
    hx-swap="outerHTML"
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
>
    {# Aqui, 'user' é o usuário logado e 'profile_user' é o usuário que estamos visitando/vendo o botão de seguir #}
    {% if profile_user in user.following.all %} {# Verifica se o USUÁRIO LOGADO segue o USUÁRIO DO PERFIL #}
        <button class="btn btn-outline-secondary">Deixar de seguir</button>
    {% else %}
        <button class="btn btn-primary">Seguir</button>
    {% endif %}
</div>