{% load crispy_forms_tags %}
<style>
    :root {
        --verde-folha: #7dbd3b;
        --amarelo-laranja: #f4b400;
        --marrom-cinza: #6e6259;
    }
    .btn-success {
        background-color: var(--verde-folha);
        border-color: var(--verde-folha);
    }
    .btn-success:hover {
        background-color: #6ca432;
    }
</style>

<form method="post" action="">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success mt-3">Salvar alterações</button>
</form>
